<!DOCTYPE hmtl>
<html>
<title>NoizeBox</title>
<head>
  <link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <h1>NoizeBox</h1>
<div class="container">

{{{body}}}

</div>

<script src="synth.js"></script>
</body>
</html>
