<!DOCTYPE hmtl>
<html>
<title>NoizeBox</title>
<head>
  <link href='https://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" media="screen and (min-width:400px) and (max-width:830px)" href="css/small.css" />

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <h1>NoizeBox</h1>
<div class="container">

{{{body}}}

<p><div class="text">
  <p>Use the slider under each button to select a frequency pitch, click on the button with your mouse to hear a sound. If you want a continuous sound, while you still have the mouse button pressed, hover over the frequency slider. When you want the sounds to stop, refresh the page.</p>
</div></p>
</div>



<script src="synth.js"></script>
</body>
</html>
